[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
aws-lambda-powertools = {extras = ["pydantic"], version = "*"}

[dev-packages]
pytest = "*"
autopep8 = "*"
flake8 = "*"

[requires]
python_version = "3.9"
